@charset "utf-8";

/* CSS Document */

body{
	margin:0;
	padding:0;
	font-family: 'Roboto', sans-serif;
}
.wrapper{
	margin:0 auto;
	text-align:center;
}

.clear{
	clear:both;
}
img{
	max-width:100%;
}

/* === Login Page ==== */
.login_header{
			border-bottom: 2px solid #000000;
			padding:20px;
}
.lt_text{
	position:absolute;
	 top:13px;
}
.logo {
	width: 312px;
	height: 60px;
}
.cnt_text {
	width:100%;
	color: #000000;
}
.cnt_text h3{
	font-weight:400;
	font-size: 40px;
	margin:0;
}

.date{
	
		width: 50px;
		display: block;
		margin: 0 auto;
		height: 32px;
		border: 2px #000 solid;
		}
.login_pannel {
	position: absolute;
	left: 50%;
	top:calc(50% + 44px );
	width:100%;
	max-width: 500px;
	transform: translate(-50%, -50%);
	
}
.register_pannel {
	position: absolute;
	width: auto;
}
.artikel{

	position: absolute;
	
	margin-top: 15px ;
}
.login_body{
	border:#000 solid 2px;
	border-radius:15px;
	padding:20px;
	box-sizing:border-box;
}
.artikelBody{
	position: absolute,center;
	display: block;
	margin-top: 60px;
	top: 60%;
	left: 40%;
	border:#000 solid 2px;
	padding:0px;
}
.p_logo {
	height: 90px;
}
.login_form{
	padding:10px 0 0 0;
}

.login_form input[type="text"], .login_form input[type="password"]{
	width:100%;
	color: #A3A3A3;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size:18px;
	font-weight:300;
	border:#000000 solid 1px;
	border-radius:10px;
	box-sizing:border-box;
	margin-bottom:10px;
	padding:12px 12px 12px 25px;
}

.login_form .submit_btn {
	color: #000000;
	width: 190px;
	height: 45px;
	text-align: center;
	background: #9DC3E6;
	font-size: 22px;cursor: pointer;
	border: #000000 solid 1px;
	border-radius: 10px;
	margin: 0 auto;
	display: block;
}
.login_form .submit_btn:hover{
	background:#006400;
	 color:#fff;
}

.login_form input[type="reset"] {
	width:150px;
	height:20px;
	background:#EEEEEE;
	color:#000;
	border:#000 solid 1px;
	border-radius:20px;
	cursor:pointer;
}

.login_form .cancel_btn{
	margin-top:10px;
	margin-bottom: 20px;
	padding-bottom: 25px;

}

.login_form .cancel_btn:hover{
	background:#fa0000;
}

.signup{
	text-align:center;
	font-size:20px;
	font-weight:400;
	color: #717171;
}



/* === Main Page ==== */

.db_header{
	padding:20px 40px 20px 70px;
	display:flex;
	border-bottom: 2px #000 solid;
	align-items: center;
	position: sticky;
}
.lt_side {
	width: 367px;
}


.rt_login {
	width: 130px;
	text-align: right;
}
.rt_login a {
	text-decoration: none;
	color: #000;
	display: inline-block;
}
.rt_login img {
	width: 32px;
	display: block;
	margin: 0 auto;
	height: 32px;
	object-fit: cover;
	border: 1px #000 solid;
	border-radius: 30px;
}
.search_box {
	width: calc(100% - 502px);
}

form.search_box input[type="text"] {
	padding:11px 11px 11px 38px;
	font-size: 16px;
	border: none;
	width: 100%;
	background: #F2F0F0; box-sizing: border-box;
	color: #737373;
}
.search_inputbox::after {
	content: '\f107';
	font-family: fontawesome;
	position: absolute;
	right: 11px;
	top: 11px; color: #9a9898;
}
.search_inputbox::before {
	content: '\f002';
	font-family: fontawesome;
	left: 13px;
	position: absolute;
	top: 10px;
	color: #ccc;
}
.search_inputbox {
	position: relative;
	display: inline-block;
	width: 50%;
}
form.search_box button {
  border: none;
  cursor: pointer;
}


form.search_box option {
  border:none;
  cursor: pointer;
}


.main_body{
	 text-align:left;
 }
.viewed_tags h3{
	font-weight:700; font-size:20px;
}

.viewed_tags a{
	text-decoration:none;
	border:#000 solid 2px;
	font-weight:400;
	font-size:13px;
	text-align:center;
	background:#fff;
	display:inline-block;
	color:#000;
	padding:10px;
	margin:3px;
}

.headlinesArtikel{
 position: absolute;
 margin-top: 10px ;
 margin-bottom: 20px;
 border: solid;
 left: 10%;
 

}
.headlines{
	margin-top:33px;
}
.headlines h3 {
	margin: 0;padding: 5px 0 10px;
}
/*
.news_list{
	display:block;
}
.newslist_items{
	text-align:center;
	float:left;
}
.newslist_items a{
	text-decoration:none;
	display:block;
}
.newslist_items img{
	display:block;
	width:100%;
	height:178px;
	object-fit:cover;
}
.newslist_items h3{
	margin: 0;
	padding: 8px 0 5px;
	font-size: 25px;
	font-weight: 400;
	color: #000;
}
.newslist_items p{
	font-size:13px;
	color:#ababab;
	margin:0;
}

.news_separator {
	max-width: 60%;
	height: 1px;
	border-bottom: 1px solid #A6A6A6;margin: 70px auto 50px;
}
*/

.main_body {
	display: flex;
}



@media(max-width:767px){
.lt_text {
	position: static;
	text-align: center;
}

.db_header {
	display: block;
	padding: 10px;
}
.lt_side {
	width: 100%;
}
.search_box {
	width: 65%;
	float: left;
	padding: 7px 0 0 0;
	text-align: left;
}
.rt_login {
	width: 30%;
	display: inline-block;
}
.search_inputbox{
	width: 100%;
}

.logo {
	width:220px;
	height: auto;
}
.viewed_tags a {
	font-size: 13px;
	padding: 5px;
}

}

/*sid-bar*/
/* Individual item */
.bm-item {
  display: inline-block;

  /* Our sidebar item styling */
  text-decoration: none;
  margin-bottom: 10px;
  color: #d1d1d1;
  transition: color 0.2s;
 
}

/* Change color on hover */
.bm-item:hover {
  color: white;
}


/* The rest copied directly from react-burger-menu docs */

/* Position and sizing of burger button */
.bm-burger-button {
  position:relative;
  width: 36px;
  height: 30px;
  left: 36px;
  top: -58px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #000000;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 2.5em 2.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.sticky-nav {
	position: sticky;
	top: 0;
  }

/*=======================*/
body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: black;
  }
  
  * {
	box-sizing: border-box;
  }
  
  /* Add padding to containers */
  .container {
	
	padding: 20px 45px 20px 45px;
	background-color: white;
	
	
  }
  
  /* Full-width input fields */
  input[type=text], input[type=password] {
	width: 50%;
	padding: 15px;
	margin: 5px 0 22px 0;
	display: inline-block;
	border: none;
	background: #f1f1f1;
  }
  
  input[type=text]:focus, input[type=password]:focus {
	background-color: #ddd;
	outline: none;
  }
  
  /* Overwrite default styles of hr */
  hr {
	border: 1px solid #f1f1f1;
	margin-bottom: 25px;
  }
  
  /* Set a style for the submit button */
  .registerbtn {
	background-color: #4CAF50;
	color: white;
	padding: 16px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 50%;
	opacity: 0.9;
  }
  
  .registerbtn:hover {
	opacity: 1;
  }
  
  /* Add a blue text color to links */
  a {
	color: dodgerblue;
  }
  
  /* Set a grey background color and center the text of the "sign in" section */
  .signin {
	background-color: #f1f1f1;
	text-align: center;
	
  }
  .container.signin{
	  width:25%;
	  padding: 10px 20px 10px 20px;
	  background-color: rgb(255, 255, 255);
  }










