#search-bar {
  appearance: none;
  padding: 0.75em;
  border: none;
  width: calc(100% - 14em);
}

@media (prefers-color-scheme: dark) {

  #search-bar {

    background-color: #282828;
    color: white;

  }

}