#no-content {
  position: relative;
  width: 100%;
  height: 100%;

  &_container {
    position: inherit;
    z-index: 1;
    width: 95%;
    // padding-top: 3em;
    height: 100%;
    margin: auto 2.5%;

    * {
      z-index: 1;
    }

    &_error {
      margin-bottom: 1em;

      &_code {
        margin: 0;
        font-size: 80pt;
        font-weight: bold;
        font-family: monospace;
      }

      &_message {
        font-size: 30pt;
      }

    }


    &_text {
      margin-bottom: 1em;

      p {
        font-family: monospace;
        font-size: 12pt;
        color: gray;
        line-height: 1.25em;
        margin-bottom: 0.5em;
        user-select: none;
      }
    }

    &_error, p {
      padding: 0.5rem;
      background-color: rgba(white, 0.85);
    }

    &:hover {
      cursor: default;
    }

  }

  &_image {
    visibility: hidden;
    z-index: 0;
    position: absolute;
    // left: 0;
    width: 50%;
    margin: auto 25%;
    object-fit: contain;
  }

}

@media (prefers-color-scheme: dark) {
  #no-content {
    background-color: #202020;
    h1, h2 {
      color: white;
    }
    &_container_error, p {
      background-color: rgba(#202020, 0.85);
    }
  }
}

@media only screen and (min-height: 850px) { // iPad 7.9'' up
  #no-content_image {
    visibility: visible;
    bottom: 4em;
    width: 95%;
    margin: auto 5%;
  }
}

@media only screen and (min-width: 1024px) { // iPad 7,9''
  #no-content {
    &_container {
      width: 70%;
      margin: auto 15%;
      padding-top: 1em;
    }
    &_image {
      visibility: visible;
      bottom: 6em;
      width: 40%;
      margin: auto 30%;
    }
  }
}

@media only screen and (min-width: 1112px) { // iPad 10,5''
  #no-content {
    &_container {
      width: 60%;
      margin: auto 20%;
    }
    &_image {
      width: 50%;
      margin: auto 25%;
    }
  }
}

@media only screen and (min-width: 1366px) { // iPad 12,*''
  #no-content {
    &_container {
      width: 50%;
      margin: auto 25%;
      padding-top: 2em;
    }
    &_image {
      bottom: 4em;
    }
  }
}

@media only screen and (min-width: 1279px) {
  #no-content {
    &_container {
      width: 40%;
      margin: auto 30%;
      padding-top: 4em;
    }
    &_image {
      width: 40%;
      margin: auto 30%;
      bottom: 6em;
    }
  }
}