.App {
  display: inline-flex;
  width: 100vw;
  height: 100vh;
}

#left {
  height: 100%;
  width: 16em;
  overflow: visible;
}

#left[collapsed='true'] {
  position: absolute;
  left: -16em;
  animation: leftCollapsedTrue .25s linear;
}

@keyframes leftCollapsedTrue {
  from {
    left: 0em;
  }
  to {
    left: -16em;
  }
}

#left[collapsed='false'] {
  position: inherit;
  animation: leftCollapsedFalse .25s linear;
}

@keyframes leftCollapsedFalse {
  from { 
    margin-left: -16em;
  }
  to {
    margin-left: 0em;
  }
}

#right {
  height: 100%;
  width: 100%;
}

#right[collapsed='true'] {
  animation: rightCollapsedTrue .25s linear;
}

@keyframes rightCollapsedTrue {
  from {
    margin-left: 16em;
  }
  to {
    margin-left: 0em;
  }
}

/* Scrollbalken gestalten*/

/* Chrome und Safarie */
/* width */
/*
#left ::-webkit-scrollbar {
  width: 0;
  height: 0;
}
*/
/* Track */ /* Handle */ /* Handle on hover */
/*
#left ::-webkit-scrollbar-track, ::-webkit-scrollbar-thumb, ::-webkit-scrollbar-thumb:hover {
  background: none; 
}
*/
/*
.scrollbar-container {
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox 
  -ms-overflow-style: none;  /* Internet Explorer 10+ 
}
.scrollbar-container ::-webkit-scrollbar { /* WebKit Safari and Chrome
  width: 0;
  height: 0;
  background:none;
}
*/