.App {
  display: inline-flex;
  width: 100vw;
  height: 100vh;
}

#left {
  height: 100%;
  width: 20em;
  overflow: visible;
}

#left[collapsed='true'] {
  position: absolute;
  left: -16em;
  animation: leftCollapsedTrue .25s linear;
}

@keyframes leftCollapsedTrue {
  from {
    left: 0em;
  }
  to {
    left: -16em;
  }
}

#left[collapsed='false'] {
  position: inherit;
  animation: leftCollapsedFalse .25s linear;
}

@keyframes leftCollapsedFalse {
  from { 
    margin-left: -16em;
  }
  to {
    margin-left: 0em;
  }
}

#right {
  height: 100%;
  width: 100%;
}

#right[collapsed='true'] {
  animation: rightCollapsedTrue .25s linear;
}

@keyframes rightCollapsedTrue {
  from {
    margin-left: 16em;
  }
  to {
    margin-left: 0em;
  }
}