.App {
  display: inline-flex;
  width: 100vw;
  height: 100vh;
}

#left {
  height: 100%;
  width: 20em;
}

#left[collapsed='true'] {
  position: absolute;
  left: -20em;
}

#left[collapsed='false'] {
  position: inherit;
}

#right {
  height: 100%;
  width: 100%;
}