#content-view {
  height: calc(100% - 3em);
  width: 100%;
  background-color: gainsboro;
  overflow: auto;
}

#content-view-tags {
  padding: 1em 0 0 1em;
  overflow-x: scroll;
  white-space: nowrap;
}

.content-view-tag {
  border-radius: 0.25em;
  margin-right: 0.5em;
  background-color: yellow;
  display: inline-block;
  overflow-x: scroll;
}

.content-view-tag:hover {
  cursor: pointer;
  background-color: orange;
}

.content-view-tag p {
  margin: 0.25em;
}

.content-view-section-title {
  padding: 0.5em;
}

.content-view-section[type="horizontal"] { /* TODO: redo this */
  display: grid;
  grid-gap: 1em;
  grid-template-columns: 0;
  grid-auto-flow: column;
  overflow-x: scroll;
}

.content-view-section[type="horizontal"]:before, .content-view-section[type="horizontal"]:after {
  content: '';
  width: 0;
}

.content-view-section[type="horizontal"] * {
  display: inline-block;
}

.content-view-section[type="grid"] {
  margin-left: 1em;
  display: flex;
  flex-wrap: wrap;
  overflow-y: auto;
}

.content-view-section[type="grid"] .content-view-item {
  margin: 0 1em 1em 0;
}