.darkMode-body {
    background-color: rgba(0, 0, 0, 0.8) !important;
    color: white !important;
}

.darkMode-input-text {
    background-color: rgba(0, 0, 0, 0.5) !important;
    color: white !important;
}

.darkMode-content-view {
    background-color: rgba(0, 0, 0, 0.8) !important;
    color: white !important;
}

.darkMode-content-view-tags {
    background-color: rgba(0, 0, 0, 0.6) !important;
}

.darkMode-sidebar {
    background-color: rgba(0, 0, 0, 0.2) !important;
}