#navigation-bar {
  width: calc(100% - 2em);
  padding: 1em;
  background-color: silver;
}

#navigation-bar[collapsed="true"] {
  display: none;
}

#navigation-bar * {
  vertical-align: middle;
  display: inline-block;
  border-radius: 0.25em;
  margin-right: 5px;
}

#search-bar {
  width: calc(100% - 13em);
  padding: 0 1em;
}

#search-bar input {
  padding: 0 1em;
  width: 100%;
  height: 2em;
  border: none;
  -webkit-appearance:none; /* TODO: remove for deployment */
}

#navigation-bar button {
  padding: 0 0.5em;
  height: 2em;
  border: none;
  background-color: orange;
  margin-right: 10px;
}

#navigation-bar button:hover {
  cursor: pointer;
  /* background-color: rgba(255, 255, 255, 0.25); */
}