#sidebar {
  width: 100%;
  height: 100%;
  background-color: gray;
  overflow-y: auto;
}

.sidebar-sections {
  padding: 0 1em;
  min-height: calc(100vh - 70px);
}

.sidebar-section {
  background-color: dimGray;
  color: white;
  margin-top: 1em;
  padding: 0.25em;
}

.sidebar-item {
  background-color: lightGray;
}

.sidebar-item * {
  display: inline-block;
}

.sidebar-item-label {
  width: 100%;
  padding: 0.25em;
  display: flex;
  align-items:center;
}

.sidebar-item img {
  width: 1em;
  height: 1em;
  margin-right: 0.25em;
}

.sidebar-item input {
  position: absolute;
  visibility: hidden;
}

.sidebar-item-label label {
  margin-left: 0;
}

.sidebar-item-title[unread-amount="0"]:after {
content: none;
}

#profile-overview {
  margin-top: 1em;
  padding-top: 0; /* TODO: remove later when at the bottom */
  z-index: 1;
}

.sidebar-item-label:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.25);
}

input:checked + label {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}

#profile-overview {
  color: white;
  position: sticky;
  margin: 1em;
  display: flex;
  width: calc(100% - 2em);
}

#profile-overview:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0 , 0.25);
}

#avatar-preview {
  margin-right: 0.5em;
  object-fit: contain;
  height: 2em;
}

#avatar-preview div {
  width: 100%;
}

#mail-adress {
  font-size: 10pt;
}