#sidebar {
  width: 100%;
  height: 100%;
  background-color: blue;
  overflow-y: auto;
}

.sidebar-sections {
  padding: 1em;
}

.sidebar-section {
  background-color: pink;
}

.sidebar-items { }

.sidebar-item {
  padding-left: 0.1em;
  background-color: cyan;
}

.sidebar-item * {
  display: inline;
}

#profile-overview {
  padding: 1em;
  padding-top: 0; /* TODO: remove later when at the bottom */
  z-index: 1;
}

#profile-overview p {
  background-color: pink;
}