#tags {
  padding-left: 1em;
  padding-top: 1em;
  overflow-x: scroll;
  white-space: nowrap;
}

.tag {
  margin-right: 0.5em;
  display: inline-block;

  p {
    font-family: monospace;
    font-size: 9pt;
    border-radius: 0.25em;
    padding: 0.5em;
    background-color: #181818;
    color: white;
  }

  :hover {
    cursor: pointer;
    background-color: #484848;
  }

}

@media (prefers-color-scheme: dark) {

  .tag {

    p {
      background-color: white;
      color: black;
    }

    :hover {
      background-color: lightGray;
    }

  }

}


