.action-button {

  &_add, &_save {
    border-radius: 0.75em;

    * {
      line-height: 1.25em;
      padding: 0.125em;
      display: inline;
      vertical-align: middle;
    }

    p {
      padding-right: 0.5em;
    }

    p {
      font-size: 10pt;
    }

    span {
      font-size: 16pt;
    }
  }


  &_add {
    background-color: rgba(orange, 0.75);
    margin-right: 1em;
  }

  &_save {
    background-color: rgba(green, 0.75);
  }

}

.action-button_add:hover {
  background-color: orange;
}

.action-button_save:hover {
  background-color: green;
}
